.App {
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

#editor{
   min-height: 50vh;
   border:1px solid black;
    margin:0;
    width: 100%;
}

#preview{
  margin:0;
  min-height: 50vh;
  border:1px solid black;
}

h1,h2{
  text-align: center;
}


.col {
  width: 40%;
}
